@{
    Layout = "~/Areas/Admin/Views/Shared/_LoginLayout.cshtml";
    string appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);
    ViewBag.Tile = "Login";
}
@model ForgotPassword


<div class="loginPage forgotPwd">
    <div class="container">
        <div class="logo"><img src="@appPath/Contents/Admin/images/logo.jpg" alt="Schaeffler"></div>
        @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { id = "ForgotPasswordForm" }))
        {
            @Html.AntiForgeryToken()


            @Html.TextBoxFor(m => m.user.Email, new { @type = "text", @placeholder = "Enter Email", @class = "email" })
            @Html.ValidationMessageFor(m => m.user.Email)
            <input type="button" id="btnForgetPass" class="submitBtn" value="Submit">

            <a class="resetBtn" href="@appPath/Admin" style="text-decoration: none;color: white;">Cancel</a>

            <br /> <br /> <span id="messageContainer" style="color:orangered"> </span>
        }
    </div>
</div>
@section Scripts{

    <script type="text/javascript" src="@BundleTable.Bundles.ResolveBundleUrl("~/login-forgetpasswordjs")"></script>
    @*<script type="text/javascript">
            var apppath = '@ApplicationInstance.Application["ApplicationPath"]';
        </script>*@
}

