@{
    Layout = "~/Areas/Admin/Views/Shared/_LoginLayout.cshtml";
    var appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);
}
@model ForgotPassword

<div class="loginPage forgotPwd">
    <div class="container">
        &nbsp;
        <div class="logo"><img src="@appPath/Contents/Admin/images/logo.jpg" alt="Schaeffler"></div>
        @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { id = "ResetPassForm" }))
        {
            if (ViewBag.Success != null)
            {

                <div class="inner">

                    <h1>Reset Password</h1>
                    <div class="success">@ViewBag.Success</div>
                    <br /><br />
                    <a style="color: #fff;text-decoration: none;" class="commonBtn btn_resetpassword" href="@appPath/Admin">Click Here to go to Login</a>
                </div>



            }
            else
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Key)
                <table class="tblcreate" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td class="td_forceCenter">
                            <!--h1>Change Password</h1-->
                            To ensure password security please follow the rules below when selecting or changing your password:
                            <div style="padding-top:5px;"></div>
                            Your password must:
                            <div style="padding-top:5px;"></div>
                            1. Be at least 8 characters long<br />
                            2. Contain at least 1 number: (0 to 9)<br />
                            3. Contain at least 1 lower case letter: (a to z)<br />
                            4. Contain at least 1 upper case letter: (A to Z)
                            5. Contain at least 1 one special character
                            <div class="padding5"></div>
                            <table class="tblcreate">

                                <tr>
                                    <td class="fieldname">New Password</td>
                                    <td>
                                        @Html.ValidationMessageFor(m => m.user.NewPassword)
                                        @Html.PasswordFor(m => m.user.NewPassword, new { @type = "password", id = "Password", @placeholder = "New Password", @class = "pwd" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fieldname">Confirm New Password</td>
                                    <td>
                                        @Html.ValidationMessageFor(m => m.user.ConfirmPassword)
                                        @Html.PasswordFor(m => m.user.ConfirmPassword, new { @type = "password", @placeholder = "Confirm Password", @class = "pwd" })
                                    </td>
                                </tr>

                                <tr>

                                    <td colspan="2">
                                        <div class="commonBtn_bg02" style="text-align:center;">
                                            @Html.ValidationMessage("Id") <br />
                                            <input type="submit" id="btnreset" class="submitBtn" value="Change Password">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            }
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="@BundleTable.Bundles.ResolveBundleUrl("~/login-resetpasswordjs")"></script>
}
